/* Styles généraux */
#home {
    padding: 2rem;
}

.intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
    animation: bounce 1s infinite alternate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.presentation {
    flex: 1;
    text-align: center;
}

.about-me {
    margin-top: 2rem;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.about-me h3 {
    color: #007bff;
    margin-bottom: 1rem;
}

.about-me p {
    text-align: justify;
}

.skills {
    margin-top: 2rem;
}

.skill-group {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skill-group h4 {
    margin-bottom: 0.5rem;
    width: 100%;
}

.skill-group ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.skill-group li {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    text-align: center;
}

.skill-group li img {
    width: 80px;
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
}

.skill-group li span {
    display: block;
    text-align: center;
}

.skill-group li:hover img {
    transform: scale(1.1);
}

.skill a {
    color: inherit;
    text-decoration: none;
}

.skill a:hover {
    color: inherit;
}

/* Lien vers le CV */
.cv-link {
    margin-top: 1rem;
    text-align: center;
}

.cv-link a {
    color: #007bff;
    background-color: transparent;
    border: 2px solid #007bff;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cv-link a:hover {
    background-color: #007bff;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .profile-pic img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .presentation {
        text-align: center;
    }

    .skill-group li {
        margin-right: 0;
        width: 80px;
        align-items: center; /* Ensure items are centered */
    }

    .skill-group li img {
        width: 60px;
    }

    .cv-link {
        text-align: center;
    }

    .about-me {
        padding: 1rem;
    }

    #home {
        padding: 1rem;
    }
}
